<div class="modal-header">
    <p class="title">
        {{ data.isEdit ? 'Редактировать' : 'Добавить' }} статью
    </p>
    <button 
        class="btn-close"
        title="Закрыть"
        (click)="closeDialog()"
    >
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <form
        class="form-add-blog"
        novalidate
        [formGroup]="putBlogForm"
        (submit)="putBlog($event)"
    >
        <label class="input-wrapper">
            <span>Заголовок</span>
            @let isInvalidTitle = validation.isInvalid('title');
            <input
                class="input-box"
                [class]="{'invalid' : isInvalidTitle}"
                type="input"
                name="title"
                formControlName="title"
                placeholder="Заголовок статьи"
            />
            <span
                class="invalid-message"
                [hidden]="!isInvalidTitle"
            >
                {{ validation.getErrorMessage('title', 'заголовок') }}
            </span>
        </label>
        <label class="input-wrapper">
            <span>Текст статьи</span>
            @let isInvalidText = validation.isInvalid('text');
            <textarea
                class="input-box"
                [class]="{'invalid' : isInvalidText}"
                name="text"
                placeholder="Введите текст..."
                rows="5"
                formControlName="text"
            ></textarea>
            <span 
                class="invalid-message"
                [hidden]="!isInvalidText"
            >
                {{ validation.getErrorMessage('title', 'текст') }}
            </span>
        </label>
        @if (enviroment.production) {
            <mat-form-field class="mb-1">
                <mat-label>Категория</mat-label>
                <input
                    class="mat"
                    type="text"
                    matInput
                    formControlName="category" 
                    [matAutocomplete]="auto"
                >
                <mat-autocomplete 
                    #auto="matAutocomplete"
                    [displayWith]="displayFn"
                >
                    @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option.name}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            @let isInvalidImage = validation.isInvalid('image');
            <div class="content-center mb-1">
                <div 
                    class="view-image"
                    [class]="{'active' : imageUrl() !== null}"
                    (click)="deleteFile()"
                >
                    <img
                        [src]="imageUrl()"
                        alt=""
                    />
                </div>
            </div>
            <div class="mb-1">
                <label 
                    class="input-wrapper input-box image"
                    [class]="{'invalid' : isInvalidImage}"
                >
                    Загрузить изображение
                    <input
                        type="file"
                        accept=".jpg, .jpeg, .png"
                        name="image"
                        (change)="loadFile($event)"
                    />
                </label>
                <span
                    class="invalid-message"
                    [class]="{'d-block' : isInvalidImage}"
                >
                    {{ validation.getErrorMessage('image') }}
                </span>
            </div>
        }
        <div class="content-center">
            <button
                class="btn" 
                type="submit"
                [disabled]="data.isDisabled()"
            >
                {{ data.isEdit ? 'Сохранить' : 'Добавить' }}
            </button>
        </div>
    </form>
</mat-dialog-content>