<div class="modal-header">
    <p class="title">
        {{ data.isEdit ? 'Редактировать' : 'Добавить' }} статью
    </p>
    <button 
        class="btn-close"
        title="Закрыть"
        (click)="closeDialog()"
    >
        <svg>
            <use xlink:href="./assets/sprite-svg/close.svg#close" />
        </svg>
    </button>
</div>
<mat-dialog-content>
    <form
        class="form-add-blog"
        novalidate
        [formGroup]="putBlogForm"
        (submit)="putBlog($event)"
    >
        <label class="input-wrapper">
            <span>Заголовок</span>
            @let isInvalidTitle = validation.isInvalid('title');
            <input
                class="input-box"
                [class]="{'invalid' : isInvalidTitle}"
                type="input"
                name="title"
                formControlName="title"
                placeholder="Заголовок статьи"
            />
            <span
                class="invalid-message"
                [hidden]="!isInvalidTitle"
            >
                {{ validation.getErrorMessage('title', 'заголовок') }}
            </span>
        </label>
        <label class="input-wrapper">
            <span>Текст статьи</span>
            @let isInvalidText = validation.isInvalid('text');
            <textarea
                class="input-box"
                [class]="{'invalid' : isInvalidText}"
                name="text"
                placeholder="Введите текст..."
                rows="5"
                formControlName="text"
            ></textarea>
            <span 
                class="invalid-message"
                [hidden]="!isInvalidText"
            >
                {{ validation.getErrorMessage('title', 'текст') }}
            </span>
        </label>
        <div class="content-center">
            <button
                class="btn" 
                type="submit"
                [disabled]="data.blogsRepository.isDisabled()"
            >
                {{ data.isEdit ? 'Сохранить' : 'Добавить' }}
            </button>
        </div>
    </form>
</mat-dialog-content>