<article>
    @if (!isBigCard()) { 
        <div class="blog-setting">
            <button
                class="btn-icon blog blog-edit"
                title="Редактировать статью"
                (click)="editBlog()"
            >
                <svg>
                    <use xlink:href="./assets/sprite-svg/edit.svg#edit" />
                </svg>
            </button>
            <button
                class="btn-icon blog blog-del"
                title="Удалить статью"
                [disabled]="blogsRepository.isDisabled()"
                (click)="deleteBlog()"
            >
                <svg>
                    <use xlink:href="./assets/sprite-svg/trash.svg#trash" />
                </svg>
            </button>
        </div>
    }
    <div 
        [class]="{
            'card-blog__image' : isBigCard(),
            'order-2' : isBigCard(),
            'card-blog-min__image' : !isBigCard()
        }"
    >
        <img
            [src]="blog().image??'./assets/images/blogs/image_blog.png'"
            alt="blog-1"
        >
    </div>
    <div 
        [class]="{
            'card-blog__content' : isBigCard(),
            'order-1' : isBigCard(),
            'card-blog-min__bottom' : !isBigCard()
        }"
    >
        <div [class]="{'order-2' : isBigCard()}">
            <p 
                class="title text-hidden"
                [class]="{'card-blog__content-title' : isBigCard()}"
            >
                {{ blog().title }}
            </p>
            <p class="text-hidden description">{{ blog().text }}</p>
        </div>
        <time
            [class]="{'order-1' : isBigCard()}"
            [dateTime]="blog().date.getFullYear() + '-' + blog().date.getMonth() + '-' + blog().date.getDate()"
        >
            {{ blog().date.toLocaleString('ru', {year: "numeric", month: "long", day: "numeric"}) }}
        </time>
    </div>
</article>