<section class="about-first-screen">
    <div class="about-first-screen__title">
        <h1 id="head">
            Привет! Я Nelsom, разработчик
        </h1>
        <p>
            Добро пожаловать! Я веб-разработчик с 5-летним опытом в создании интерактивных интерфейсов. На этом блоге я делюсь своими знаниями, проектами и идеями о том, как технология меняет способ общения людей. Здесь вы найдёте туториалы, кейсы из реальной практики и вдохновляющие истории.
        </p>
        <a
            class="link-arrow"
            href="#skills"
        >
            <span>Больше обо мне</span>
            <svg>
                <use xlink:href="./assets/sprite-svg/arrow-right.svg#arrow-right" />
            </svg>
        </a>
    </div>
    <div class="about-first-screen__image">
        <img
            src="./assets/images/image.png"
            alt="avatar"
        >
    </div>
</section>