<header class="container header">
    <p class="header__title">
        Мое портфолио
    </p>
    <nav class="header__nav">
        <ul>
            <li>
                <a 
                    class="link"
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    Обо мне
                </a>
            </li>
            <li>
                <a
                    class="link"
                    routerLink="/blogs/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    Блог
                </a>
            </li>
        </ul>
    </nav>
</header>