<header class="container header">
    <p class="header__title">
        Мое портфолио
    </p>
    <nav class="header__nav">
        <ul>
            <li>
                <a 
                    class="link"
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    Обо мне
                </a>
            </li>
            <li>
                <a
                    class="link"
                    routerLink="/blogs/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    Блог
                </a>
            </li>
            <li>
                <button
                    [hidden]="client().id !== null"
                    class="link"
                    (click)="openAuthModal()"
                >
                    Вход
                </button>
                <div
                    class="login"
                    [hidden]="client().id === null"
                >
                    <button
                        class="btn-icon text-green"
                        title="Пользователь"
                        (click)="isShowLogout.update((val) => !val)"
                    >
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <div 
                        class="form-logout"
                        [hidden]="!isShowLogout()"
                    >
                        <span>{{ client().username }}</span>
                        <button
                            matButton="filled"
                            (click)="logout()"
                        >
                            Выход
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>