.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--p-m-2);
    padding-bottom: var(--p-m-4);

    &__title {
        font-size: var(--fs-4);
    }

    &__nav {
        ul {
            display: flex;
            list-style: none;
            padding-left: 0;

            li:not(:nth-last-child(1)) {
                padding-right: var(--p-m-4);
            }
        }
    }

    @media (max-width: 800px) {
        &__title {
            font-size: var(--fs-6);
        }

        &__nav {
            ul {
                li:not(:nth-last-child(1)) {
                    padding-right: var(--p-m-2);
                }
            }
        }
    }
}

.login {
    position: relative;

    span {
        display: block;
        margin-bottom: var(--p-m-1);
    }

    .form-logout {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 30px;
        padding: var(--p-m-1);
        border-radius: var(--border-radius);
        border: 1px solid var(--bs-green);
        background-color: #fff;
    }
}
