.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--p-m-2);
    padding-bottom: var(--p-m-4);

    &__title {
        font-size: var(--fs-4);
    }

    &__nav {
        ul {
            display: flex;
            list-style: none;
            padding-left: 0;

            li:not(:nth-last-child(1)) {
                padding-right: var(--p-m-4);
            }
        }
    }

    @media (max-width: 800px) {
        &__title {
            font-size: var(--fs-6);
        }

        &__nav {
            ul {
                li:not(:nth-last-child(1)) {
                    padding-right: var(--p-m-2);
                }
            }
        }
    }
}
