form {
    display: flex;
    flex-direction: column;

    input, textarea {
        padding: var(--p-m-2);
        width: 100%;
        border-radius: var(--border-radius);
        border: 1px solid var(--bs-border-input);
        background-color: var(--bg-black);
        color: #fff;
        font-size: var(--fs-8);
        font-family: 'Inter', sans-serif;
        outline: none;
    }

    label {
        margin-bottom: var(--p-m-2);

        span {
            padding-left: var(--p-m-1);
        }
    }
}

textarea {
    resize: none !important;
}

.input-box {
    &.invalid {
        border-color: var(--bs-invalid) !important;
    }

    &:disabled {
        opacity: 0.6;
    }
}

.input-wrapper:has(.invalid) .invalid-message {
    display: block;
}

.invalid-message {
    display: none;
    font-size: var(--fs-9);
    color: var(--bs-invalid);
    margin-top: var(--p-m-05);
    margin-bottom: 0;
    line-height: 1;
}

.form-add-blog {
    input:not(.mat), textarea {
        background-color: #fff;
        color: var(--bs-black);
        border: 1px solid var(--bs-black);
    }

    .image {
        padding: var(--p-m-2);
        cursor: pointer;
        background-color: #fff;
        color: var(--bs-black);
        border: 1px solid var(--bs-black);
        border-radius: var(--border-radius);
        text-align: center;
        text-decoration: underline;
        display: block;
        margin: 0;

        input {
            display: none;
        }
    }
}

.view-image {
    height: 80px;
    width: 80px;
    position: relative;
    background-color: var(--bs-light-gray);
    border-radius: var(--border-radius);

    img {
        height: 80px;
        width: 80px;    
        border: 1px solid var(--bs-black);
        border-radius: var(--border-radius);
    }

    &.active {
        cursor: pointer;

        &:hover {
            &::before, &::after {
                display: block;
            }
        }

        &::before {
            display: none;
            position: absolute;
            background: var(--bs-invalid);
            border-radius: 50%;
            content: "";
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
        }

        &::after {
            display: none;
            position: absolute;
            color: #fff !important;
            content: "✕";
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
}