<div class="modal-header">
    <p class="title">Редактировать статью</p>
    <button 
        class="btn-close"
        title="Закрыть"
        (click)="closeDialog()"
    >
        <svg>
            <use xlink:href="./assets/sprite-svg/close.svg#close" />
        </svg>
    </button>
</div>
<mat-dialog-content>
    <form
        class="form-add-blog"
        novalidate
        [formGroup]="editBlogForm"
        (submit)="editBlog($event)"
    >
        <label class="input-wrapper">
            <span>Заголовок</span>
            <input
                class="input-box"
                [class]="{'invalid' : param('title')?.invalid && (param('title')?.touched || param('title')?.dirty)}"
                type="input"
                name="title"
                formControlName="title"
                placeholder="Заголовок статьи"
            />
            <span
                class="invalid-message"
                [hidden]="!(param('title')?.invalid && (param('title')?.touched || param('title')?.dirty))"
            >
                {{ param('title')?.hasError('required') ? 'Введите заголовок' : 'Длина заголовка должна быть не меньше 25 символов' }}
            </span>
        </label>
        <label class="input-wrapper">
            <span>Текст статьи</span>
            <textarea
                class="input-box"
                [class]="{'invalid' :param('text')?.invalid && (param('text')?.touched || param('text')?.dirty)}"
                name="text"
                placeholder="Введите текст..."
                rows="5"
                formControlName="text"
            ></textarea>
            <span 
                class="invalid-message"
                [hidden]="!(param('text')?.invalid && (param('text')?.touched || param('text')?.dirty))"
            >
                Введите текст
            </span>
        </label>
        <div class="content-center">
            <button
                class="btn" 
                type="submit"
            >
                Сохранить
            </button>
        </div>
    </form>
</mat-dialog-content>