*,
:after,
:before {
  box-sizing:border-box
}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
        resize: none;
    }

    label {
        margin-bottom: 0.5rem;
    }

    @media (max-width: 767px) {
        width: 50%;
    }

    @media (max-width: 576px) {
        width: 100%;
    }
}

.btn {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    background: rgb(235, 227, 227);
    color: black;
    font-weight: bold;
    margin-top: 0.5rem;
}