<footer class="bg-black">
    <div class="footer container">
        <div class="footer__layout">
            <p class="head-1 head__footer">
                Поздоровайся и давай работать вместе!
            </p>
            <p>
                Email: <a target="_blank" href="mailto:alex@creativeblog.ru">alex@creativeblog.ru</a><br>
                Телефон: <a target="_blank" href="tel:+79991234567">+7 (999) 123-45-67</a>
            </p>
            <div class="footer__socials">
                <a
                    href="https://vk.com/alex"
                    target="_blank"
                    title="vk"
                >
                    
                </a>
                <a
                    href="https://t.me/alex"
                    target="_blank"
                    title="telegram"
                >
                    
                </a>
                <a
                    href="https://github.com/alex"
                    target="_blank"
                    title="git"
                >
                    
                </a>
            </div>
        </div>
        <div class="footer__layout">
            <p class="head-1 head__footer_mobile">
                Поздоровайся и давай работать вместе!
            </p>
            <form method="post">
                <label>
                    <span>Email</span>
                    <input
                        type="input"
                        name="title"
                        placeholder="Ваш Email адрес"
                    />
                </label>
                <label>
                    <span>Введите свое сообщение</span>
                    <textarea
                        name="text"
                        placeholder="Опишите ваш проект"
                        rows="5"
                    ></textarea>
                </label>
                <div class="content-center">
                    <button
                        class="btn" 
                        type="submit"
                    >
                        Отправить
                    </button>
                </div>
            </form>
        </div>
        <div class="footer__layout">
            © 2026 Brand, Inc
        </div>
    </div>
</footer>