<div class="modal-header">
    <p class="title">Добавить статью</p>
    <button 
        class="btn-close"
        title="Закрыть"
        (click)="closeDialog()"
    >
        <svg>
            <use xlink:href="/assets/sprite-svg/close.svg#close" />
        </svg>
    </button>
</div>
<mat-dialog-content>
    <form
        class="form-add-blog"
        method="post"
        novalidate
    >
        <label class="input-wrapper">
            <span>Заголовок</span>
            <input
                class="input-box"
                type="input"
                name="title"
                placeholder="Заголовок статьи"
                required
            />
            <span class="invalid-message">Введите заголовок</span>
        </label>
        <label class="input-wrapper">
            <span>Текст статьи</span>
            <textarea
                class="input-box"
                name="text"
                placeholder="Введите текст..."
                rows="5"
                required
            ></textarea>
            <span class="invalid-message">Введите заголовок</span>
        </label>
        <div class="content-center">
            <button
                class="btn" 
                type="submit"
            >
                Добавить
            </button>
        </div>
    </form>
</mat-dialog-content>